<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <connectionStrings>
    <add name="SecurePassDataBase" connectionString="Data Source=D-xxxx;Initial Catalog=DEMO;User ID=sa;Password=******"/>
  </connectionStrings> 
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
